@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<link href="~/css/index.css" rel="stylesheet" />

<div class="container-for-text">
    <span>Light Apartment</span>
    <br />
    <span>Accounting and management of apartment rent</span>
</div>



@section scripts{
}