@model ManagementApartments.Data.Models.RentPeriod

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RentPeriod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Payed" /> @Html.DisplayNameFor(model => model.Payed)
                </label>
            </div>
            <div class="form-group">
                <label>Tenants</label>
                @Html.DropDownList("tenantsIds", (List<SelectListItem>)ViewBag.Tenants, new { @class = "form-control", multiple = "multiple" })
            </div>
            <input asp-for="ApartmentId" style="display:none" value="@ViewBag.ApartmentId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" href="@Url.Action("Index","RentPeriods", new {apartmentId = Model.ApartmentId })">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Tenants/TenantsEditController.js"></script>
}
