@using ManagementApartments.Data.Models;
@model ManagementApartments.Data.Models.Apartment

    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            <div class="h2">@Model.Name</div>
            <div>@Model.Description</div>
        </div>
    </div>
